/**
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	}*/

nav div ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;

}


.brand-name {
    background-color: #2C3539;
}

.brand-name div p {
    margin-top: 10px;
    color: white;
    font-size: 25px;
    font-family: 'Supermercado One', cursive;




}

.container-fluid {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.head span {
    color: white;
}

.head h1 {
    color: #ff471a;
    /*orange*/

}

.head {

    background: url("https://c.wallhere.com/photos/e3/54/photography_fineart_art_shadows_creative_dark_light_monochrome-560580.jpg!d");
    background-size: cover;
    height: 100vh;




}

.head div h1 {
    text-align: center;
    align-items: center;
    margin-top: 45vh;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;

}

.head p {
    text-align: center;
    color: white;

}

.head div>button {
    size: 60px;
    outline: none;
    align-items: center;
    margin: auto;
    display: block;
    background-color: #ff471a;
    color: white;
}

.head button a {
    text-decoration: none;
    color: white;
}


/*Homepage*/

nav {
    background-color: white;
    width: 100%;
    background-color: silver;


}

.home {
    background-image: url(https://www.roguefitness.com/media/catalog/product/cache/1/rogue_header_2015/472321edac810f9b2465a359d8cdc0b5/r/o/rogue-dumbbells-h.jpg);
    background-size: cover;
    height: 30vh;
    color: white;
}

#home-container div {
    font-family: 'Roboto', sans-serif;
}

.home div h1 {
    color: #ff471a;
    /*orange*/
}

.home div h1 span {
    color: white;
}

.home div h1 {
    margin-top: 50vh;
    margin-left: 10vh;
    letter-spacing: 5px;
}

hr {

    width: 2em;
    border: none;
    height: .2em;
    background-color: white;
    position: relative;
    justify-content: center;

}





.homepage-footer ul li {
    display: flex;
    justify-content: center;
    color: white;

}

.homepage-footer

/*footer also in other pages*/
    {
    background-color: #2C3539;
    /*gun metal gray*/
    justify-content: center;
}


.social {
    color: white;
    font-size: 2rem;
    margin: 0 .5rem;
    margin-top: 2rem;
}

.homepage-footer ul {
    padding-top: 12px;
}

.social-media ul {
    display: flex;
    justify-content: center;
}

.social-media ul li {
    text-decoration: none;
    padding: 0 5px 0 5px;
}

.card-body {
    background-color: #050505;
    color: white;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.card {
    border: 3px solid #2C3539;

}



/*for gallery*/
.gallery-carousel+div h1 {

    color: white;
    margin-top: 5px;

}



#gallery-page {
    background-image: url("http://www.handymanhealth.com/wp-content/uploads/2017/08/onnitacademywod4.jpg");
    background-size: cover;
    /*background-repeat:no-repeat;*/
    height: 100%;
}

[alt="gallery-train-1"],
[alt="gallery-train-2"],
[alt="gallery-train-3"],
[alt="gallery-train-4"],
[alt="gallery-train-5"],
[alt="gallery-train-6"] {
    height: 200px;
    width: 350px;
}

[alt="gallery-facillities-1"],
[alt="gallery-facillities-2"],
[alt="gallery-facillities-3"],
[alt="gallery-facillities-4"],
[alt="gallery-facillities-5"],
[alt="gallery-facillities-6"] {
    height: 200px;
    width: 350px;
}

.h3-responsive {
    color: white;
    font-size: 50px;
}

#gal-g,
#train-h,
#fac-h {
    color: white;
    font-family: 'Roboto', sans-serif;
}


/*about us */


.about-us-head {
    background-image: url(https://www.roguefitness.com/media/catalog/product/cache/1/rogue_header_2015/472321edac810f9b2465a359d8cdc0b5/r/o/rogue-dumbbells-h.jpg);
    background-size: cover;
    height: 30vh;
    color: white;


}

.about-us-head h1 {
    margin-top: 10vh;


}

.about-us-head p {
    color: white;
}

.space {
    background-color: #2C3539;
    height: 3vh;
}

#about-container {
    /*margin-top: -10vh;*/
}

.about-pic1 {
    background-image: url(http://watchfit.com/wp-content/uploads/2014/07/upper-body-workout-for-men.jpg);
    background-size: cover;
    height: 41vh;


}

.about-pic2 {
    background-image: url(http://verandasuntanning.com/wp-content/uploads/2014/08/Health_Men-2.jpg);
    background-size: cover;
    height: 29vh;


}


#wwa,
#wwd {
    font-weight: bold;
}





/*contact us*/


body {
    background-color: silver;
}

.head-contact {
    /*background: 
	background-image: url(https://image.freepik.com/free-photo/finger-pressing-social-network-button-touch-screen_1112-489.jpg)
    background-size: cover;
    height: 30vh;
    */

    background:
        linear-gradient(rgba(65, 41, 41, 1),
        rgba(235, 132, 29, 0.45)),
        url(https://ak8.picdn.net/shutterstock/videos/13810448/thumb/1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;



}

.head-contact div {
    color: white;
}

#h1-contact {
    margin-top: 10vh;
}

.con-message-form {
    margin-top: 10px;
}



.contact-info {
    background-color: #2C3539;

}


.row-contact {
    margin-top: 10vh;
}


.contact-info h6 {
    color: white;
}

.phone {
    color: white;
    letter-spacing: 2px;

}

.phone span {
    padding-right: 10px;
}



.email {
    color: white;
    letter-spacing: 2px;
}

.email span {
    padding-right: 5px;
}

.address {
    color: white;
    letter-spacing: 1px;
}

.address span {
    padding-right: 5px;
}

[type="button"] {
    background-color: #A0522D;
    border: none;
    outline: none;
    color: white;
    height: 40px;

}

[type="button"]:active {
    border: 1px solid lightblue;
    text-decoration: underline;
}

/*home media query*/


/*tablet*/



@media (min-width: 768px) and (max-width: 1024px) {


    .home {

        height: 15vh;
    }


    body {
        overflow-x: hidden;
    }


    #home-container {
        flex-direction: column;
        display: block;
    }

}


/*about media query*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {

    .about-pic1 {
        height: 29vh;
    }

    .about-pic2 {
        height: 21vh;
    }

}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {


    .about-pic1 {
        height: 37vh;
    }

    .about-pic2 {
        height: 37vh;
    }

}

/*iphone x*/
@media (min-width: 320px) and (max-width: 480px) {


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }



    html,
    body,
        {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .about-pic1 {
        height: 30vh;
    }

    .about-pic2 {
        height: 31vh;
    }

    .card-deck {
        width: 100% !important;
        overflow-x: hidden;
    }

}

/*like ipad pro*/

@media (min-width: 1023px) and (max-width:1280px) {



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }



    html,
    body,
        {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .about-pic1 {
        height: 19vh;
    }

    .about-pic2 {
        height: 14vh;
    }

    .card-deck {
        width: 100% !important;
        overflow-x: hidden !important;
    }

    .card {
        width: 100%;
        overflow-x: hidden !important;
    }


}


/*gallery*/
/*phone*/
@media (min-width: 320px) and (max-width: 480px) {


    #bs,
    #bp,
    #bc {
        font-size: 24px;
    }


}


/*iphone x*/
@media (min-width: 320px) and (max-width: 480px) {


    #bs,
    #bp,
    #bc {
        font-size: 24px;
    }


}


/*contact us*/



/*iphone x*/
@media (min-width: 320px) and (max-width: 480px) {


    .form-control {
        margin-top: 11px;
    }

}
